<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mckomo.alfred.torrents</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>77C408C2-E433-4653-A238-71F5E5848053</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48F4260C-04A8-4EF5-990E-39F6F8E26898</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mckomo</string>
	<key>description</key>
	<string>Torrent repository</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lighthouse</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>torrent</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching torrents</string>
				<key>script</key>
				<string>/usr/bin/env ruby search.rb "{query}"</string>
				<key>subtext</key>
				<string>Enter at least 3 characters</string>
				<key>title</key>
				<string>Enter torrent's name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>77C408C2-E433-4653-A238-71F5E5848053</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/env ruby open.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>48F4260C-04A8-4EF5-990E-39F6F8E26898</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>48F4260C-04A8-4EF5-990E-39F6F8E26898</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>77C408C2-E433-4653-A238-71F5E5848053</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>komorowski.info</string>
</dict>
</plist>
